<!DOCTYPE html>
<html>
    <head>
        <title>Good Times Sushi</title>
		<link rel="stylesheet" href="~/css/normalize.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/header.css" />
        <link rel="stylesheet" href="~/css/home.css" />
        <link rel="stylesheet" href="~/css/aboutUs.css" />
        <link rel="stylesheet" href="~/css/menu.css" />
        <link rel="stylesheet" href="~/css/maps.css" />
        <link rel="stylesheet" href="~/css/jobs.css" />
        <link rel="stylesheet" href="~/css/connect.css" />
        <link rel="stylesheet" href="~/css/footer.css" />
        <script type="text/javascript" src="~/js/externals/jquery.js"></script>
        <script type="text/javascript" src="~/js/externals/slides.jquery.js"></script>
        <script type="text/javascript" src="~/js/header.js"></script>
        <script type="text/javascript" src="~/js/home.js"></script>
        <script type="text/javascript" src="~/js/aboutUs.js"></script>
        <script type="text/javascript" src="~/js/menu.js"></script>
        <script type="text/javascript" src="~/js/maps.js"></script>
        <script type="text/javascript" src="~/js/jobs.js"></script>
        <script type="text/javascript" src="~/js/connect.js"></script>
        <script type="text/javascript" src="~/js/footer.js"></script>
    </head>
    <body>
        <div id="wrap">
            <div id="content">
                @Html.Partial("Partials/Header")
                @Html.Partial("Partials/Home")
                @Html.Partial("Partials/AboutUs")
                @Html.Partial("Partials/Menu")
                @Html.Partial("Partials/Maps")
                @Html.Partial("Partials/Jobs")
                @Html.Partial("Partials/Connect")
                @Html.Partial("Partials/Footer")
            </div>
        </div>
    </body>
</html>