<!DOCTYPE html>
<html>
    <head>
        <title>Good Times Sushi</title>
		<link rel="stylesheet" href="~/css/normalize.css" />
        <link rel="stylesheet" href="~/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/header.css" />
        <link rel="stylesheet" href="~/css/home.css" />
        <link rel="stylesheet" href="~/css/aboutUs.css" />
        <link rel="stylesheet" href="~/css/menu.css" />
        <link rel="stylesheet" href="~/css/maps.css" />
        <link rel="stylesheet" href="~/css/jobs.css" />
        <link rel="stylesheet" href="~/css/connect.css" />
        <link rel="stylesheet" href="~/css/instagram.css" />
        <link rel="stylesheet" href="~/css/footer.css" />
        <script type="text/javascript" src="~/js/externals/jquery.js"></script>
        <script type="text/javascript" src="~/js/externals/underscore.js"></script>
        <script type="text/javascript" src="~/js/externals/slides.jquery.js"></script>
        <script type="text/javascript" src="~/js/header.js"></script>
        <script type="text/javascript" src="~/js/home.js"></script>
        <script type="text/javascript" src="~/js/aboutUs.js"></script>
        <script type="text/javascript" src="~/js/menu.js"></script>
        <script type="text/javascript" src="~/js/maps.js"></script>
        <script type="text/javascript" src="~/js/jobs.js"></script>
        <script type="text/javascript" src="~/js/connect.js"></script>
        <script type="text/javascript" src="~/js/instagram.js"></script>
        <script type="text/javascript" src="~/js/footer.js"></script>
		<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=true"></script>
		<script type="text/javascript" src="~/js/externals/moment.min.js"></script>
    </head>
    <body data-spy="scroll" data-target=".navigation" data-offset="70">
        <div id="wrap">
            <div id="content">
                @Html.Partial("Partials/Header")
                @Html.Partial("Partials/Home")
                @Html.Partial("Partials/AboutUs")
                @Html.Partial("Partials/Menu")
                @Html.Partial("Partials/Maps")
                @Html.Partial("Partials/Jobs")
                @Html.Partial("Partials/Connect")
                @Html.Partial("Partials/Instagram")
                @Html.Partial("Partials/Footer")
            </div>
        </div>
    </body>

	<script type="text/javascript">
	    window.rootUrl = "@Url.Content("~/")";
	</script>

    <script type="text/javascript" src="~/js/externals/skrollr.js"></script>
    <script type="text/javascript" src="~/js/externals/bootstrap.scrollspy.js"></script>
    <script type="text/javascript" src="~/Js/externals/jquery.scrollTo-1.4.3.1-min.js"></script>
    <script type="text/javascript" src="~/Js/externals/jquery.localscroll-1.2.7-min.js"></script>

    <script type="text/javascript">
        $(function() {
            $('.navigation').scrollspy();
            $('.navigation').localScroll({ offset: { top: -69 }, duration: 750 });
            $('.scroller').localScroll({ offset: { top: -69 }, duration: 750 });
            //var offset = 70;

            //$('.navigation ul.nav li a').click(function (event) {
            //    event.preventDefault();
            //    //$($(this).attr('href'))[0].scrollIntoView();
            //    scrollBy(0, -offset);
            //});
        });
    </script>
</html>